body
{
  
    max-width: 350px;
    margin: auto;
    margin-top:80px;
    
    
}


h2
{
    text-align: center;
    font-family: 'Squada One', cursive;
    color: antiquewhite;
}

form
{
    width: 400px;
    padding: 15px 15px;
    border: #c1c1c1 solid 1px;
    
    background-color: rgb(22, 19, 19);
}

#result
{
margin-top: 15px;

}

#submit
{
    font-family: 'Squada One', cursive;
}
